body {
    background: url('https://cdn.wallpapersafari.com/42/70/gDljmw.jpg');
    color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat Brush', cursive;    

}

main {
    border: red;
    border-style: dashed;
    border-width: 5px;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr 2fr 2fr;
    height: 95vh;
    width: 95vw;
}

h1 {
    border: purple;
    border-style: dashed;
    border-width: 5px;
    margin: 0;
    font-size: 5vw;
    padding: 0;
    font-family: 'Rubik Glitch', cursive;

}

#spaceman {
    border: blue;
    border-style: dashed;
    border-width: 5px;
    font-size: 17px;
}

#word {
    border: yellow;
    border-style: dashed;
    border-width: 5px;
    display: flex;
    justify-content: space-evenly;
}

#start-button {
    width: 40%;
    font-size: 5vw;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    font-family: 'Rubik Glitch', cursive;
    background: red;
    color: white;
}


#bullet {
    border: aqua;
    border-style: dashed;
    border-width: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
/* #remain-letters {
    max-width: 33%;
} */


#remain-array {
    display: flex;
    flex-wrap: wrap;
    
}
.remain-letter {
    background-color: green;
    margin: 1px;
    border-radius: 20%;
    height: 1em;
    width: 1em;
}

#used-array {
    display: flex;
    flex-wrap: wrap;
}
.used-letter {
    text-decoration: line-through;
    background-color: red;
    margin: 1px;
    border-radius: 20%;
    height: 1em;
    width: input.value.length;
}

#fire-field {
    align-self: center;
}

#fire-button {
    font-family: 'Rubik Glitch', cursive;
}

#reset {
    font-family: 'Rubik Glitch', cursive;
}

#prompt {
    border: ;
    border-style: dashed;
    border-width: 5px;
}

.letter {
    /* border: aqua;
    border-style: dashed;
    border-width: 5px; */
    display: flex;
    align-items: center;
    text-decoration: underline;
}

#humans {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}




#heart {
    position: relative;
    top: 310px;
}

.shot-anim {
    animation: heart-move;
    animation-duration: 1s;
    animation-iteration-count: heartAnimCount;
    animation-timing-function: linear;

    /* animation-fill-mode: forwards; */


}
   
@keyframes heart-move {
    100% {
        /* background: red; */
        top: 20px;
    }
}


#spaceman-char {
    position: relative;
    top: 310px;
}


